<!-- header -->
<h1>Taxi-Pro</h1>

<!-- show progress i.e. question 1 of 30 -->
<!-- <h3> Question {{ # }} of 30 </h3> -->

<!-- display question -->
<h3>{{ question.content }}</h3>

<!-- display all answers options with matching questionID -->
<!-- <div ng-if=""> display for when answers are true/false -->
<ul>
    <li ng-repeat="answer in answers">
        <input type="radio" name="answerList" value="{{ answer.answerID }}">
        <label>{{ answer.content }}</label>
    </li>
</ul>
<button ng-click="nextQuestion()">Next</button>



<!-- <button ng-click="nextQuestion()">Next</button> -->
<!-- </div> -->

<!-- <div ng-if=""> display for when answers are multiple choice -->
<!-- <ul>
    <span>
        <input type="radio">
        <label>{{  }}</label>
    </span>
</ul>
<ul>
    <span>
        <input type="radio">
        <label>{{  }}</label>
    </span>
</ul>
<ul>
    <span>
        <input type="radio">
        <label>{{  }}</label>
    </span>
</ul>
<ul>
    <span>
        <input type="radio">
        <label>{{  }}</label>
    </span>
</ul>
<button ng-click="nextQuestion()">Next</button>
</div> -->