<div>
    <button ng-click="loginPress()">Login</button>
    <button ng-click="newUserPress()">New User</button>
</div>

<div ng-if="existing === true"> <!-- display if login button is clicked -->
    <input type="email" placeholder="Email address" ng-model="auth.email" autofocus>
    <input type="password" placeholder="Password" ng-model="auth.password"><br>
    <button ng-click="logIn(auth)">Login</button>
</div>
<div ng-if="new === true"> <!-- display if new user button is clicked -->
    <input type="text" placeholder="User Name" ng-model="auth.userName" autofocus>
    <input type="email" placeholder="Email address" ng-model="auth.email" >
    <input type="password" placeholder="Password" ng-model="auth.password"><br>
    <button ng-click="newUser(auth)">Login</button>
</div>