<div ng-controller="createProfileCtrl">
    <form class="form">
        <h2>Create New Student Profile</h2>

        <div>
            <label>First Name</label>
            <input type="text" ng-model="student.firstName" autofocus>
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" ng-model="student.lastName">
        </div>
        <div>
            <label>Address</label> 
            <input type="text" ng-model="student.address">
        </div>
        <div>
            <label>Phone</label> 
            <input type="tel" ng-model="student.phone">
        </div>

        <button class="button" ng-click="addStudentProfile(); displayAdminOpt()" type="button">Create Profile</button>

        <button class="button" ng-click="addStudentProfile(); startCourse()">Save Profile and Begin Course</button>
    </form>

</div>