<h3>Student Profiles</h3>

<h4>Search By:</h4>
    <input type="text" ng-model="queryFirst" placeholder="First Name"/>

    <input type="text" ng-model="queryLast" placeholder="Last Name"/>

    <input type="text" ng-model="queryPhone" placeholder="Phone Number"/>

    <input type="text" ng-model="queryAddress" placeholder="Address"/>


<div ng-repeat="student in profiles |filter:{firstName: queryFirst, lastName: queryLast, phone: queryPhone, address: queryAddress} | orderBy: 'lastName'">
    <div class="card">
        <a href="#!/profiles/detail/{{ student.id }}">{{ student.firstName }} {{ student.lastName }}</a><br> 
        <p>{{ student.address }}</p>
        <p>{{ student.phone }}</p>
    </div>

</div>

