<!-- header -->
<h1> Welcome to the Taxi-Pro Course,  {{ student.firstName }} {{ student.lastName }}</h1>

<!-- Only show the first time, hide when they begin test-->
<div ng-show="welcome">
    <p>The Taxi-Pro course is comprised of two tests. You will begin by watching a number of videos. After each video you will
        be presented with a short quiz. This quiz is only for your benefit and will NOT go towards your final test grade.
        After the last quiz the test will begin.</p>
    <button ng-click="showVid()">Begin</button>
    <!-- on click hide above paragraph, show first video -->
</div>
<div ng-show="vid">
    <video ng-src="{{videos.videoURL}}" controls></video>
    <button ng-click="hideVid(); showQuestion()">Begin quiz</button>
</div>

<!-- <ng-embed 
 embed-data="text"
 embed-template-url="template.html"
 embed-options="options"
 ></ng-embed> -->

<!-- show progress i.e. question 1 of 30 -->
<!-- <h3> Question {{  }} of 30 </h3> -->

<!-- display all answers options with matching questionID -->
<div ng-show="quizSet">
    <!-- display for when answers are true/false -->
    <!-- Hide until student clicks "Begin Test" -->
    <!-- display question -->
    <div>

        <h3>{{counter + 1}}. {{ questions.content }}</h3>
        <ul>
            <li ng-repeat="answer in answers">
                <input type="radio" ng-model="option" ng-value="{{ answer.isCorrect }}">
                <label>{{ answer.content }}</label>
            </li>
        </ul>
        <button ng-click="gradeAnswer(); nextQuestion()">Next</button>
    </div>
</div>
<div ng-if="{{ answer.isCorrect }} === true">
    <p>That's Right!</p>
</div>
<div ng-if="{{ answer.isCorrect }} === false">
    <p>I'm sorry, that is incorrect. Try again!</p>
</div>